@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.1em;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* For WebKit (Chrome, Safari) and Blink (Opera) */
body::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: none;
}

.App::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Stolzl";   /*Can be any text*/
  src: local("Stolzl"),
  url("./fonts/stolzl_regular.otf") format("truetype");
}

.coin-remove-animation {
  transform: scale(0); /* or any other CSS properties to scale or move the coin */
  transition: transform 0.5s ease; /* adjust the duration and easing as needed */
}

/* CSS */
.info-hidden {
  display: none;
}

.info-appear-animation {
  transform: scale(1); /* or any other CSS properties to scale or move the coin */
  transition: transform 0.5s ease; /* adjust the duration and easing as needed */
}

.info-appear-animation:not(.info-hidden) {
  opacity: 1;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Измените это значение на ваше усмотрение */
  }
}

.moving-element {
  animation: moveUpDown 2s infinite; /* Измените "2s" на желаемую длительность анимации */
  /* Другие стили для вашего элемента */
}